*
!requirements.txt
!context_me/
!context_me/*.py
!webapp/
!webapp/*.py
!webapp/templatetags/
!webapp/templatetags/*.py
!webapp/management/
!webapp/management/*.py
!webapp/management/commands/
!webapp/management/commands/*.py
!templates/
!templates/*.html
!static/
!static/*.css
!static/*.js
!manage.py
!serve.py
!Dockerfile
